# compiled objects
*.o

# debug information
*.dSYM

# compiled and linked binaries
a.out
prog
*.exe
build
assignment/bin/client
assignment/bin/server

# wine specific file
.windows-serial

# CMake
CMakeFiles

assignment2/docs/